{
  "Localhost": {
    "FunctionAppKey": "Not required",
    "ApiManagementSubscriptionKey": "Not required",
    "EnvironmentVariableBearerToken": ""
  },
  "Int - Function App": {
    "FunctionAppKey": "", // https://portal.azure.com/#@nhschoices.net/resource/subscriptions/2cf44e0d-817d-4596-b471-0788f8a14ab2/resourceGroups/covid19-booking-rg-int-uks/providers/Microsoft.Web/sites/covid19-booking-func-int-uks/functionsAppKeys
    "ApiManagementSubscriptionKey": "Not required",
    "EnvironmentVariableBearerToken": "" // Retrieve from https://portal.azure.com/#@nhschoices.net/resource/subscriptions/2cf44e0d-817d-4596-b471-0788f8a14ab2/resourceGroups/covid19-booking-rg-int-uks/providers/Microsoft.Web/sites/covid19-booking-func-int-uks/configuration
  },
  "Staging - Function App - UK South": {
    "FunctionAppKey": "", // https://portal.azure.com/#@nhschoices.net/resource/subscriptions/b0787d6a-56e3-4899-bc30-723f9d78899c/resourceGroups/covid19-booking-rg-stag-uks/providers/Microsoft.Web/sites/covid19-booking-func-stag-uks/functionsAppKeys
    "ApiManagementSubscriptionKey": "Not required",
    "EnvironmentVariableBearerToken": "" // Retrieve from https://portal.azure.com/#@nhschoices.net/resource/subscriptions/b0787d6a-56e3-4899-bc30-723f9d78899c/resourceGroups/covid19-booking-rg-stag-uks/providers/Microsoft.Web/sites/covid19-booking-func-stag-uks/configuration
  },
  "Staging - Function App - UK West": {
    "FunctionAppKey": "", // https://portal.azure.com/#@nhschoices.net/resource/subscriptions/b0787d6a-56e3-4899-bc30-723f9d78899c/resourceGroups/covid19-booking-rg-stag-ukw/providers/Microsoft.Web/sites/covid19-booking-func-stag-ukw/functionsAppKeys
    "ApiManagementSubscriptionKey": "Not required",
    "EnvironmentVariableBearerToken": "" // Retrieve from https://portal.azure.com/#@nhschoices.net/resource/subscriptions/b0787d6a-56e3-4899-bc30-723f9d78899c/resourceGroups/covid19-booking-rg-stag-uks/providers/Microsoft.Web/sites/covid19-booking-func-stag-uks/configuration
  },
  "Staging - API Management (Direct)": {
    "FunctionAppKey": "Not required",
    "ApiManagementSubscriptionKey": "", // https://portal.azure.com/#@nhschoices.net/asset/Microsoft_Azure_KeyVault/Secret/https://covid19bookingkvstaguks.vault.azure.net/secrets/API-Manager-Subscription-Key
    "EnvironmentVariableBearerToken": "" // Retrieve from https://portal.azure.com/#@nhschoices.net/resource/subscriptions/b0787d6a-56e3-4899-bc30-723f9d78899c/resourceGroups/covid19-booking-rg-stag-uks/providers/Microsoft.Web/sites/covid19-booking-func-stag-uks/configuration
  },
  "Staging - API Management (Via Front Door)": {
    "FunctionAppKey": "Not required",
    "ApiManagementSubscriptionKey": "", // Same as Direct
    "EnvironmentVariableBearerToken": "" // Retrieve from https://portal.azure.com/#@nhschoices.net/resource/subscriptions/b0787d6a-56e3-4899-bc30-723f9d78899c/resourceGroups/covid19-booking-rg-stag-uks/providers/Microsoft.Web/sites/covid19-booking-func-stag-uks/configuration
  },
  "Staging - Front Door": {
    // Function App Key must be APIM version as it must be the same for both UK South and UK West
    "FunctionAppKey": "", // https://portal.azure.com/#@nhschoices.net/resource/subscriptions/b0787d6a-56e3-4899-bc30-723f9d78899c/resourceGroups/covid19-booking-rg-stag-ukw/providers/Microsoft.Web/sites/covid19-booking-func-stag-ukw/functionsAppKeys
    "ApiManagementSubscriptionKey": "Not required",
    "EnvironmentVariableBearerToken": "" // Retrieve from https://portal.azure.com/#@nhschoices.net/resource/subscriptions/b0787d6a-56e3-4899-bc30-723f9d78899c/resourceGroups/covid19-booking-rg-stag-uks/providers/Microsoft.Web/sites/covid19-booking-func-stag-uks/configuration
  }
}